@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

*{
  background-color: #000;
  /* color: #fff; */
}

.button-red{
  padding: 14px 30px;
  border: 2px solid #EF0D0D;
  border-radius: 50px;
  color: #EF0D0D !important;
}

.button-green{
  padding: 14px 30px;
  border: 2px solid #058F34;
  border-radius: 50px;
  color: #058F34 !important;
}